@layer tailwind, primereact;

@import "tailwindcss" layer(tailwind);

@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);
@import "primereact/resources/primereact.min.css" layer(primereact);
@import "primeicons/primeicons.css" layer(primereact);
